<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <style type="text/css">
    body {
      background: #ffe4e1b9 !important;
    } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>
</html>
<body>
  <div class="container" style="margin-top:2%;">
    <div class="row">
      <div class="col-2">
        <ul class="list-group list-group-flush">
          <a href="{{ url_for('style_me.about') }}" class="list-group-item text-muted">
            Introduction
          </a>
          <a href="{{ url_for('style_me.about_data') }}" class="list-group-item text-muted">Data</a>
          <a href="{{ url_for('style_me.about_model') }}" style="background-color:pink; color:black;" class="list-group-item text-muted">
            Model
          </a>
          <a href="{{ url_for('style_me.about_recommender') }}" class="list-group-item text-muted">Recommender</a>
        </ul>
      </div>
      <div class="row"></div>
      <div class="col-md-9 ml-auto">
        <h4 class="display-4">
            <a href="{{ url_for('style_me.index') }}" style="text-decoration: none;">
                Style Me Application
            </a>
        </h4>
        <br />
        <h5 style="font-weight:bold" class="lead">CNN vgg16 Model</h5>
        <br />
        <p class="lead font-weight-bold">Architecture</p>
        <p class="lead">
            Style Me uses a pre-trained CNN model from Keras to extract the image features.
            Similarities are pre-computed between the different fashion images
            which are scrapped for web scrapper using the previously extracted
            image features. Keras module contains several pre-trained models that
            can be loaded very easily. Recommendation system based on visual 
            similarity loads a Convolutional Neural Network (CNN) that will be 
            able to interpret the image contents. The VGG16 model trained
            on imagenet, a scrapped fashion images database.
        </p>
        <img class="card-img-top" src="https://miro.medium.com/max/700/1*EsmiX29OAbYcvj4sibp3Jw.png" alt="CNN image">
        <div class="mx-auto">
          <img src="{{ img }}" />
        </div>
      </div>
    </div>
  </div>
</body>
