<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <style type="text/css">
    body {
      background: #ffe4e1b9 !important;
    } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>
</html>
<body>
  <div class="container" style="margin-top:2%;">
    <div class="row">
      <div class="col-2">
        <ul class="list-group list-group-flush">
          <a href="{{ url_for('style_me.about') }}" class="list-group-item text-muted">
            Introduction
          </a>
          <a href="{{ url_for('style_me.about_data') }}" style="background-color:pink; color:black;" class="list-group-item text-muted">
            Data
          </a>
          <a href="{{ url_for('style_me.about_model') }}" class="list-group-item text-muted">Model</a>
          <a href="{{ url_for('style_me.about_recommender') }}" class="list-group-item text-muted">Recommender</a>
        </ul>
      </div>
      <div class="row"></div>
      <div class="col-md-9 ml-auto">
        <h4 class="display-4">
            <a href="{{ url_for('style_me.index') }}" style="text-decoration: none;"> 
                Style Me Application
            </a>
        </h4>
        <br />
        <h5 style="font-weight:bold" class="lead">Web scrapping</h5>
        <p class="lead">
            To cope with trendiness Style Me scrapes latest fashion images from 
            e-commerce platforms like Myntra. The web scrapping happens using 
            searches with URL containing tags like "casual-trousers", "formal-trousers",
            , "jeans", "shorts", "tshirts", "kurtas", "shirts", "pants", 
            "suits", "nehru-jackets", etc. The pages scrapped download the
            image and update the fashion database.
        </p>
        <br />
        <h5 style="font-weight:bold" class="lead">Fashion clothing Data</h5>
        <p class="lead">
            The data scrapped from e-commerce website is stored in fashion
            gallery database and use for image retrival and pre-computing the
            weights for the Style-Me recommendation engine.
        </p>
        <br />
        <div class="mx-auto">
          <img src="{{ img }}" />
        </div>
      </div>
    </div>
  </div>
</body>
