<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <style type="text/css">
    body {
      background: #ffe4e1b9 !important;
    } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>
</html>
<body>
  <div class="container" style="margin-top:5%;">
    <div class="row">
      <div class="col-2">
        <ul class="list-group list-group-flush">
          <a href="{{ url_for('style_me.about') }}" class="list-group-item text-muted"> Introduction </a>
          <a href="{{ url_for('style_me.about_data') }}" class="list-group-item text-muted">Data</a>
          <a href="{{ url_for('style_me.about_model') }}" class="list-group-item text-muted">Model</a>
          <a href="{{ url_for('style_me.about_recommender') }}" style="background-color:pink; color:black;" 
              class="list-group-item text-muted">
              Recommender
          </a>
        </ul>
      </div>
      <div class="row"></div>
      <div class="col-md-9 ml-auto">
        <h4 class="display-4">
            <a href="{{ url_for('style_me.index') }}" style="text-decoration: none;"> 
                Style Me Application
            </a>
        </h4>
        <br />
        <h5 class="lead" style="font-weight:bold">Recommender Details</h5>
        <p class="lead font-weight-bold">Kth Nearest Neighbor</p>
        <p class="lead">
          Style ME uses sklearn's Kth Nearest Neighbors module, to create an 
          embeddings index and to generate recommendations. The library allows get
          recommendation with speed/accuracy tradeoff threshold, and will find the 
          approximately nearest neighbors from the embeddings index to user input
          image, based on the distance metric selected. The recommendations were 
          based on the cosine similarity of image embeddings.
        </p>
      </div>
    </div>
  </div>
</body>
