<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style type="text/css">
    body {
      background: #ffe4e1b9 !important;
    } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>
</html>
<body>
  <div class="container" style="margin-top:2%;">
    <div class="row">
      <div class="col-2">
        <ul class="list-group list-group-flush">
          <a href="{{ url_for('style_me.about') }}" style="background-color:pink; color:black;" class="list-group-item text-muted">
            Introduction
          </a>
          <a href="{{ url_for('style_me.about_data') }}" class="list-group-item text-muted">Data</a>
          <a href="{{ url_for('style_me.about_model') }}" class="list-group-item text-muted">Model</a>
          <a href="{{ url_for('style_me.about_recommender') }}" class="list-group-item text-muted">Recommender</a>
        </ul>
      </div>
      <div class="row"></div>
      <div class="col-md-9 ml-auto">
        <h4 class="display-4">
            <a href="{{ url_for('style_me.index') }}" style="text-decoration: none;"> 
                Style Me Application
            </a>
        </h4>
        <br />
        <h5 style="font-weight:bold" class="lead">Introduction</h5>
        <p class="lead">
            Fashion Retailers try to draw inspiration from external sources such 
            as e-commerce portals and online fashion magazines to design the next 
            set of fashion products that they can launch in order to delight the 
            customer. However, it is a manual effort intensive process, requiring 
            a large team of fashion designers. In order to reduce dependency and
            make the overall process more efficient, we have created a scalable 
            tech solution to extract winning designs of apparels to design upcoming 
            batch of fashion products.
        </p>
        <br />
        <h5 style="font-weight:bold" class="lead">What does appliction do ?</h5>
        <p class="lead">
          Style Me has recommendation system that based on an image selected
          by the user can recommend similar options of clothings. Style Me is
          based on visual similarity recommendation engine and web scrapper to 
          scrape images for various fashion websites.This software gives a second
          pair of creative eyes to fashion designers and forecasters.
          Give power to small fashion designers and retailers to identify upcoming
          fashion trends quickly. Through this they can quickly capture winning trends
          and have a fighting chance against big fast fashion giants like zara and H&M
        </p>
      </div>
    </div>
  </div>
</body>
