<!DOCTYPE html>
<html lang="en">
    <!-- <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>StyleMe - Gallery</title>
        
	<link href="{{ url_for('static', filename='Store/css/styles.css') }}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head> -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.82.0">
  <title>Style-Me Fashion Gallery</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

  

  <!-- Bootstrap core CSS -->
<!-- <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


<style>
   body{
     background-color: #e8e6e6;
     background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
     font-family: Arial, Helvetica, Arial, sans-serif;
   }
  h1, h2, h3, h4, h5, h6 {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
/* .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
} */

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


</style> 

  
</head>
<body id="page-top">
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Style-Me software is a "Fashion Recommendation System"</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="{{ url_for('style_me.index') }}" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>Style-Me</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 g-3">
  {% block header %}
  <div class="col">
  <a href="{{ url_for('style_me.fashion_gallery') }}" style="margin-top:20px;" class="btn btn-primary action">
    <h1 style="font-size:25px; color:white; text-align: left; font-weight: 600;">
        <strong>{% block title %} Fashion Gallery {% endblock %}</strong>
    </h1>
  </a>
</div>
  <div class="col">
    <a href="{{ url_for('style_me.recommendation') }}" class="btn btn-primary action" 
        style="float: right; border-radius: 3px; margin-top: 20px;
        margin-left:20px">
        Get Fashion recommendation
    </a>
</div>
{% endblock %}
</div>
</div>
<br>
<div class="container" style="margin:auto">
    <div class="card" style="width:22rem;height:10rem;float:left;margin-right:30px">
     <!-- <h1> Image {{ fashion_image['image_file_name'] }} </h1> -->
     <img src="{{ fashion_image['image_file_url' ]}}" class="card-img-top" alt="img" >
     <div class="card-body">
        <p class="card-text"><strong> DESCRIPTION </strong> {{ fashion_image['description'] }} </p>
        <p class="card-text"><strong> PRICE </strong> {{ fashion_image['price'] }} </p>
        <div style="margin-left:5%;display:inline-block">
            <a href="{{ fashion_image['ecommerce_link'] }}" class = "btn btn-primary pull-left">
                Buy Now
            </a>
            <a href="/add-to-wishlist/{{ fashion_image['image_file_name'] }}" class = "btn btn-info pull-right">
                Add to Wish List
            </a>
        </div>
     </div>
    </div>
    {% if fashionista %}
    <div class="card">
        <form action="/fashionista-comment/{{ fashion_image['image_file_name'] }}" method="post">
            <div class="form-group">
              <input type="text" class="form-control" id="comment" name="comment">
              <input style="margin-left:40%;margin-top:3%;margin-bottom:3%" type="submit" class="btn btn-primary" value="add comment">
            </div>
        </form>
    </div>
    {% endif %}
    <div>
        {% if comments|length == 0 and not fashionista %}
            <h2 style="margin-left:20%">
                No comments added for given fashion type : {{ fashion_image['fashion_type'] }} 
            </h2>
        {% endif %}
        {% for comment in comments: %}
            <div class="card" style="margin-left:35%; margin-top:5%; width: 45rem; background-color:#FEF29B">
                <div class="card-body">
                    <h5 class="card-title">@{{ comment['username'] }}</h5>
                    <p class="card-text">
                        {{ comment['comment_text'] }}
                        <br />
                        created on {{ comment['created'] }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>


</html> 

