<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>StyleMe - Home</title>
        <!-- Core theme CSS (includes Bootstrap)-->
	<link href="{{ url_for('static', filename='Store/css/styles.css') }}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ url_for('style_me.about') }}">Style - Me</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        
    {% if g.user %}
      <li style="padding-right:30px; color:white;"><span>{{ g.user['username'] }}</span>
      <li style="padding-right:30px; color:white;"><a href="{{ url_for('auth.logout') }}"style="color:white; ">Log Out</a>
    {% else %}
      <li style="padding-right:30px; color:white;"><a href="{{ url_for('auth.register') }}" style="color:white;">Register</a>
      <li style="padding-right:30px; color:white;"><a href="{{ url_for('auth.login') }}" style="color:white;">Log In</a>
    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        
<section class="content">
  {% block header %}{% endblock %}
  <header>
  </header>
  {% block content %}{% endblock %}
</section>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">One Step For all the Fashion Lovers out there</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">Explore with Style-Me</p>
			<a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ url_for('style_me.fashion_gallery_static') }}">Fashion Gallery</a>
			<a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ url_for('style_me.recommendation') }}">Fashion Recommender</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">We've got what you need!</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">Thousands of Trends</p>
			<a class="btn btn-light btn-xl js-scroll-trigger" href="{{ url_for('style_me.about') }}">About Style Me</a>
                    </div>
                </div>
            </div>
        </section>
	<!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Let's Get In Touch!</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">Have Queries!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                        <div>+91 76207 26542</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block" href="mailto:contact@yourwebsite.com">Style-me@gmail.com</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container"><div class="small text-center text-muted">Copyright © 2020 - StyleMe</div></div>
        </footer>

        <!-- Core theme JS-->
	<script src="{{ url_for('static', filename='Store/js/scripts.js') }}"></script>
    </body>
</html>
