<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/query.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  
  <style>
    .center {
      display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
   }
  </style>
  </head>
<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Style-Me software is a "Fashion Recommendation System"</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="{{ url_for('style_me.index') }}" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>Style-Me</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

<main>
  <div class="container-fluid">
    <div class="p-4 p-md-5 mb-4 text-white rounded " style="background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(../../static/css/image.jpeg);">
   
    <div class="col-md-6 px-0">
      <h1 class="display-4  font-italic" style="float: inline-end;">Get Fashion Recommendation</h1>
      <a href="{{ url_for('style_me.fashion_gallery') }}" class="btn
          btn-primary action" style="float: inline-end;">Checkout Fashion gallery</a>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>    
    </div>
  </div>
      {% block content %}
      <div class="center">
        <form action="{{  url_for('style_me.recommendation')  }}" enctype="multipart/form-data"  method="POST">
            <div class="input-group mb-3" >
                <input type="file" class="form-control" id="query-image" name="query-image" accept="image/*">
            </div>
            <input type="submit" value="Query Image" class="btn btn-primary action rounded-pill">
        </form>
      {% endblock %}
  </div>
  </div>
</main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>
