
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>StyleMe- Login</title>

<!-- jQuery -->
<script src="{{ url_for('static', filename='Store/js/jquery-2.0.0.min.js') }}" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="{{ url_for('static', filename='Store/js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
<link href="{{ url_for('static', filename='Store/css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="{{ url_for('static', filename='Store/fonts/fontawesome/css/all.min.css') }}" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="{{ url_for('static', filename='Store/css/ui.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='Store/css/responsive.css') }}" rel="stylesheet" type="text/css" />

<!-- custom javascript -->
	<script src="{{ url_for('static', filename='Store/js/script.js') }}" type="text/javascript"></script>

</head>
<body>



<header class="section-header">
<section class="header-main border-bottom">
	<div class="container">
<div class="row align-items-center">
	<div class="col-xl-6 col-lg-12 col-md-12">
		<a href="{{ url_for('style_me.index') }}" class="brand-wrap">
			<h1>Style - Me</h1>
		</a> <!-- brand-wrap.// -->
	</div>
                        
    {% if g.user %}
	<div class="col-xl-3 col-lg-5 col-md-6"> 
      <h1 style="padding-right:30px; color:black;"><span>{{ g.user['username'] }}</span></h1>
	</div> <!-- col.// -->
	<div class="col-xl-3 col-lg-5 col-md-6"> 
      <h1 style="padding-right:30px; color:black;"><a href="{{ url_for('auth.logout') }}"class="brand-wrap">Log Out</a></h1>
	</div> <!-- col.// -->
    {% else %}
	<div class="col-xl-3 col-lg-5 col-md-6">
      <h1 style="padding-right:30px; color:black; float:right;"><a href="{{ url_for('auth.register') }}" class="brand-wrap">Register</a></h1>
	</div> <!-- col.// -->
	<div class="col-xl-3 col-lg-5 col-md-6">
      <h1 style="padding-right:30px; color:black;"><a href="{{ url_for('auth.login') }}"class="brand-wrap">Log In</a></h1>
	</div> <!-- col.// -->
    {% endif %}
                   
</div> <!-- row.// -->
	</div> <!-- container.// -->
</section> <!-- header-main .// -->
</header> <!-- section-header.// -->




<!-- ========================= SECTION CONTENT ========================= -->
	<!--<section class="section-conten padding-y" style="min-height:84vh; background-image: url('{{ url_for('static', filename='Store/images/banners/slide3.jpg') }}');">-->
<section class="section-conten padding-y bg-masthead" style="min-height:84vh;">
  
  {% for message in get_flashed_messages() %}
    <center>
    <div style="width:400px; height:50px; background-color:white; margin:50px; border-radius:10px;">
    <h2 >{{ message }}</h2>
    </div>
    </center>
  {% endfor %}
<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:2px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
      <form action="{{ url_for('auth.login') }}"  method="POST" class="form-group">
      	  <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Sign in with Facebook</a>
      	  <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Sign in with Google</a>
          <div class="form-group">
			 <label for="username" class="form-control-label">Username</label>
			 <input name="username" class="form-control" placeholder="Username" type="text" required>
          </div> <!-- form-group// -->
          <div class="form-group">
			<label for="password" class="form-control-label">Password</label>
			<input name="password" class="form-control" placeholder="Password" type="password" required>
          </div> <!-- form-group// -->
          <div class="form-group">
          	<a href="#" class="float-right">Forgot password?</a> 
            <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Remember </div> </label>
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
			  <button type="submit" class="btn btn-primary btn-block"> Login  </button>
			  
			  <p class="text-center mt-4">Don't have account? <a href="{{ url_for('auth.register') }}">Sign up</a></p>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>
</html>
